.container {
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main figure {
  margin: 0;
  padding: 0;
}
.main figure img {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  vertical-align: bottom;
  object-position: center top;
}
.main img a {
  height: 0;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.button {
  display: block;
  width: 100vw;
  height: 100px;
}

.loaded {}
.loaded > img {
  opacity: 1;
}

.loaded > img, .skeleton > img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 100;
  transition: opacity ease 1.5s;
}
.skeleton > img {
  opacity: 0;
}

.skeleton {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  position: absolute;
  top: 0;
  left: 0;
  animation: skeleton-animation 1.2s linear infinite;
  z-index: 1;
}
    
@keyframes skeleton-animation {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}
